<template>
  <v-flex ref="app" v-resize="onResize">
    <v-carousel
      class="car"
      :cycle="cycle ? pauseCycle ? false : true : false"
      :hide-delimiters="hideDelimiters"
      :height="`${height}px`"
      :style="`width: ${w}px`"
      :touch="touch"
      :interval="interval"
      @change="changeV">
      <v-layout align-center justify-center>
        <v-carousel-item v-for="i in items.length" :key="i">
          <v-layout fill-height class="pa-5 justify-center">
            <v-flex xs12 md12 sm12 v-for="(p,j) in carouselItems"
            :key="j"
            @mouseover="pauseCycle=true"
            @mouseleave="pauseCycle=false">
              <slot v-bind="bind(p,i,j)"></slot>
            </v-flex>
          </v-layout>
        </v-carousel-item>
      </v-layout>
      <v-layout row class="progbar-layout">
        <v-progress-linear
          class="progbar"
          v-if="progress"
          v-model="prog"
          :color="progressColor"
          height="10"
          striped />
      </v-layout>
    </v-carousel>
  </v-flex>
</template>

<script>
  import { mapState } from 'vuex'

  export default{
    props:{
      items:{
        type: Array,
        required: true
      },
      height:{
        type: [Number, String],
        default: 500
      },
      itemsNum:{
        type: [Number, String],
        default: 3
      },
      cycle:{
        type: Boolean,
        default: true
      },
      interval:{
        type: Number,
        default: 10000
      },
      progress:{
        type: Boolean,
        default: true
      },
      hideDelimiters:{
        type: Boolean,
        default: false
      },
      progressColor:{
        type: String,
        default: 'light-blue'
      },
      perClick:{
        type: [Number, String],
        defualt: 1
      }
    },
    mounted(){
      if(this.items.length < this.itemsNum)
        this.carouselItemsNum = this.items.length
      else
        this.carouselItemsNum = this.itemsNum
    },
		updated(){
			this.width = this.$parent.clientWidth
		},
    computed:{
      carouselItems(){
        if(this.items.length - this.carouselIndex >= this.carouselItemsNum)
          return this.items.slice(this.carouselIndex, (this.carouselIndex + this.carouselItemsNum))
        else
          return this.items.slice(this.carouselIndex, (this.items.length +1)).concat(this.items.slice(0, (this.carouselItemsNum - (this.items.length - this.carouselIndex))))
      },
      w(){
        if(this.mobile)
          return this.width - 36

        switch(this.carouselItemsNum){
          case 1:
            return ((this.width * this.carouselItemsNum)/2) - 36
          case 2:
            return ((this.width * this.carouselItemsNum)/2.5) - 36
          case 3:
            return this.width - 36
        }
      },
      touch(){
        return ({
          left: () => changeV(++this.carouselIndex),
          right: () => changeV(--this.carouselIndex)
        })
      },
    },
    data: ()=> ({
      carouselItemsNum: 0,
      carouselIndex: 0,
      prog: 0,
      pauseCycle: false,
			mobile: false,
			width: 0
    }),
    methods:{
			onResize() {
				if (window.innerWidth < 800){
					this.carouselItemsNum = 1
					this.mobile = true
				}
				else if (window.innerWidth > 710 && window.innerWidth < 1260){
					this.mobile = false
					this.carouselItemsCount = 2
				}
				else if (window.innerWidth > 1260) {
					this.mobile = false
					this.carouselItemsCount = 3
				}
			},
      changeV(v){
        this.carouselIndex = (v * this.perClick)%(this.items.length)
        this.prog = (v/(this.items.length-1))*100
      },
      bind(p,i,j){
        return Object.assign(p, {_cid: i+j-1})
      }
    }
  }
</script>
