<template>
	<no-ssr>
		<v-card
		class="flexcard bfront"
		:height="height">
			<v-img
			:title="attr"
			class="shrink"
			v-if="img"
			:contain="contain"
			aspect-ratio="1.77"
			max-height="150"
			:src="img">
			</v-img>
			<v-card-title class="subheading justify-center text-xs-center">
				<h3>{{ title }}</h3>
			</v-card-title>
			<v-card-text class="body-2 font-weight-light grow">
				<v-flex v-if="typeof text !== 'object' && text.constructor !== Array">
					{{ text }}
				</v-flex>
				<ul v-else>
					<li v-for="(item,i) in text" :key="i">{{ item }}</li>
				</ul>
			</v-card-text>
			<div v-if="button">
				<v-divider></v-divider>
				<v-card-actions>
					<v-flex class="layout justify-center">
						<v-btn
						v-if="outlink"
						target="_blank"
						color="light-blue lighten-3"
						:href="index"
						>More..</v-btn>
						<v-btn
						v-else
						color="light-blue lighten-3"
						@click="$router.push({path: `${path}/${index}`})"
						>More..</v-btn>
					</v-flex>
				</v-card-actions>
			</div>
		</v-card>
	</no-ssr>
</template>

<script>
	import NoSSR from 'vue-no-ssr'

	export default{
		components:{
			'no-ssr': NoSSR
		},
		props:{
			img:{
				default: null
			},
			title:{
				default: null,
				required: true
			},
			text:{
				default: null,
				required: true
			},
			index:{
				default: null
			},
			height:{
				default: '100%'
			},
			button:{
				type: Boolean,
				default: true
			},
			path:{
				type: String,
				default: ''
			},
			_style:{
				default: ''
			},
			contain:{
				type: Boolean,
				default: false
			},
			attr:{
				type: String,
				default: ''
			},
			outlink:{
				type: Boolean,
				default: false
			}
		}
	}
</script>
