.bfront {
  transition: all .3s ease-in-out !important;
}
.bfront:hover {
  transform: scale(1.1);
}
.car {
  box-shadow: unset !important;
}
.progbar {
  margin-top: 0px !important;
}
.progbar-layout {
  padding-top: 10px !important;
}
